* {
  box-sizing: border-box;
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #F8FAFB;
}

nav {
<<<<<<< HEAD
  background-color: #fff;
  
=======
  height: 80px;
  width: 100vw;
  background-color: #fff;
  position: fixed;
>>>>>>> 78a81dd3e203592f028d55afe8385cb72ca543c1
}
